<head>
    <!--ANGULAR-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-route.js"></script>
    <!--UI.BOOTSTRAP-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap.js"></script>
    <!--UI.GRID-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/3.0.7/ui-grid.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/3.0.7/ui-grid.css">
    <!--MOMENT-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
    <!--APP-->
    <script src="~/Scripts/spa/apps/ObservationBoard/app.js"></script>
    <script src="~/Scripts/spa/apps/ObservationBoard/Controllers/ObservationBoardController.js"></script>
</head>
<div ng-app="module">
    <ng-view></ng-view>
</div>